.form {
  position: relative;
  padding: 125px 0;
  height: auto;
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 100%;
    background: #343436;
    @media screen and (max-width: 999px) {
      display: none;
    }
  }
  &__box {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 999px) {
      flex-direction: column;
    }
  }
  &__content {
    h1 {
      color: #fff;
      font-family: Ubuntu;
      font-size: 46px;
      font-weight: 700;
      padding-bottom: 20px;
    }
    p {
      color: #fff;
      font-family: Ubuntu;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      padding-bottom: 50px;
      input {
        display: flex;
        width: 545px;
        height: 50px;
        padding: 12px 20px;
        align-items: center;
        gap: 10px;
        border: 1px solid var(--Gray-5, #e0e0e0);
        background-color: transparent;
        color: var(--Gray-3, #828282);
        font-family: Ubuntu;
        font-size: 14px;
        line-height: 24px;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
      .btn {
        border-radius: 5px;
        background-color: #f2c938 !important;
        display: flex;
        width: 545px;
        height: 50px;
        padding: 12px 20px;
        align-items: center;
        gap: 10px;
        text-align: center;
        color: #fff;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
    }
    &_box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &_contact {
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
        font-family: Ubuntu;
        font-size: 18px;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        svg {
          margin-right: 25px;
        }
      }
    }
    &_social {
      width: auto;
      margin-right: 100px;
      @media screen and (max-width: 770px) {
        margin-right: 50px;
      }
      @media screen and (max-width: 480px) {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        svg {
          padding: 5px;
          border-radius: 50%;
          background-color: #000;
          transition: 0.5s;
          &:hover {
            background-color: #f2c938;
            transition: 0.5s;
          }
        }
      }
    }
  }
  &__map {
    height: 755px;
    position: relative;
    @media screen and (max-width: 1200px) {
      height: auto;
    }
    @media screen and (max-width: 999px) {
      height: 755px;
    }
    @media screen and (max-width: 770px) {
      height: 560px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 700px;
      flex-shrink: 0;
      object-fit: cover;
      @media screen and (max-width: 1200px) {
        height: auto;
      }
    }
  }
}
