.gallery {
  position: relative;
  background: #343436;
  padding: 100px 0;
  &__title {
    color: #fff;
    font-family: Ubuntu;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 50px;
  }
  &__slider {
    div {
      img {
        width: 302px;
        height: 302px;
        border: 8px solid #28282a;
        object-fit: cover;
        @media screen and (max-width: 1400px) {
          width: 250px;
          height: 250px;
        }
      }
    }
    .slick-arrow {
      color: #ffffff;
      background-color: #222224;
      width: 80px;
      height: 40px;
      border-radius: 29px;
      transition: 0.5s;
      &:hover {
        background-color: #666464;
        transition: 0.5s;
      }
    }
    .slick-prev {
      position: absolute;
      top: -80px;
      left: 80%;

      @media screen and (max-width: 1200px) {
        left: 70%;
      }
    }
    .slick-next:before:hover,
    .slick-prev:before:hover {
      color: yellow !important;
    }
    .slick-next {
      position: absolute;
      top: -80px;
      right: 20px;
      @media screen and (max-width: 1400px) {
        right: 0;
      }
    }
  }
}
