.video {
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 90%;
    height: 783px;
    @media screen and (max-width: 1300px) {
      height: 650px;
    }
    @media screen and (max-width: 1150px) {
      height: 500px;
    }
  }
}
