.video {
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    width: 100%;
    height: auto;
    // @media screen and (max-width: 1300px) {
    //   height: 650px;
    // }
    // @media screen and (max-width: 1150px) {
    //   height: 500px;
    // }
  }
}
