<div class="about">
  <div class="container">
    <div class="row">
      <div class="about__content">
        <div class="about__content_tint">
          <img src="./img/bulk.png" alt="" />
          <h1>window Tint</h1>
          <p>
            We provide style, comfort and<br />
            solar protection that improves<br />
            your overall driving experience
          </p>
        </div>
        <div class="about__content_paint">
          <img src="./img/star.png" alt="" />
          <h1>Paint Protection (PPF)</h1>
          <p>
            Protect your investment from<br />
            rocks, gravel, insects and salt with<br />
            our invisible paint protection<br />
            packages
          </p>
        </div>
        <div class="about__content_security">
          <img src="./img/security.png" alt="" />
          <h1>Ceramic coating</h1>
          <p>
            World leader in nanotechnology<br />
            development and manufacturing<br />
            for automotive, marine, and<br />
            aerospace applications.
          </p>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2"
          height="272"
          viewBox="0 0 2 272"
          fill="none"
        >
          <path d="M1 0V271.5" stroke="#3D3D40" />
        </svg>
        <div class="about__content_choose">
          <h1>Why Choose Us</h1>
          <p>
            Our team of experienced technicians uses only the<br />
            best materials and techniques to ensure that your<br />
            car windows are tinted to perfection.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
