<section class="ceramic">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ceramic__box">
          <div class="ceramic__content col-6">
            <h1>Ceramic coating</h1>
            <p>
              Protects paint by reducing swirl marks, prevents oxidation and<br />
              staining from tree sap and bird droppings and creates a<br />
              hydrophobic surface for ease of washing and keeping the vehicle<br />
              looking clean for longer as well as providing an extreme gloss<br />
              shine!
            </p>
            <video src="./video/video.mp4" loop autoplay controls></video>
          </div>
          <div class="ceramic__partners col-6">
            <div class="ceramic__partners_item">
              <img src="./img/xpel.png" alt="" />
              <div class="ceramic__partners_item_title">
                <h1>Features</h1>
                <div></div>
              </div>
              <ul>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Multi-layerable</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Professional Use</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Certified and Patented</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Extreme Gloss</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Hydrophobic</h2>
                </li>
              </ul>
              <p>Contact Us</p>
            </div>
            <div class="ceramic__partners_item">
              <img src="./img/ceramic.png" alt="" />
              <div class="ceramic__partners_item_title">
                <h1>Features</h1>
                <div></div>
              </div>
              <ul>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Multi-layerable</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Professional Use</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>SGS Tested</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Extreme Gloss</h2>
                </li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_12_1387)">
                      <path
                        d="M10.6451 20.0758C15.4946 20.0758 19.4624 16.1081 19.4624 11.2586C19.4624 6.40915 15.4946 2.44141 10.6451 2.44141C5.79568 2.44141 1.82794 6.40915 1.82794 11.2586C1.82794 16.1081 5.79568 20.0758 10.6451 20.0758Z"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M6.89771 11.2585L9.39297 13.7537L14.3923 8.76318"
                        stroke="#F2C938"
                        stroke-width="1.98387"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_12_1387">
                        <rect
                          width="21.1613"
                          height="21.1613"
                          fill="white"
                          transform="translate(0.0645142 0.677734)"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <h2>Hydrophobic</h2>
                </li>
              </ul>
              <p>Contact Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
