<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex">
        <div class="footer__logo col-4">
          <img src="./img/logo.png" alt="" />
          <p>
            We stand behind our work and strive<br />
            to provide the best customer service<br />possible, from your first
            consultation<br />to the final installation.
          </p>
        </div>
        <div class="footer__nav col-8">
          <div class="footer__nav_contact col-6">
            <ul>
              <li>
                <h1>Get a Free quote</h1>
              </li>
              <li>
                <a href="tel:+16477811116"
                  ><img src="./img/phone1.png" alt="" /> +1 (647) 781-1116</a
                >
              </li>
              <li>
                <a href="#"
                  ><img src="./img/location.png" alt="" />348 Bronte St. S Unit
                  #15,<br />
                  Milton, ON L9T 0H7</a
                >
              </li>
            </ul>
          </div>
          <div class="footer__nav_servis col-6">
            <ul>
              <li>
                <h1>Our Services</h1>
              </li>
              <li><a href="#">Window Tint</a></li>
              <li><a href="#">Paint Protection (PPF)</a></li>
              <li><a href="#">Ceramic coating</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p>Copyright © 2023 THE ART OF TINITNG</p>
  </div>
</footer>
