<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gallery__title">Gellary</div>
        <div class="gallery__slider">
          <div><img src="./img/gallery1.png" alt="" /></div>
          <div><img src="./img/gallery2.png" alt="" /></div>
          <div><img src="./img/gallery3.png" alt="" /></div>
          <div><img src="./img/gallery4.png" alt="" /></div>
          <div><img src="./img/gallery1.png" alt="" /></div>
          <div><img src="./img/gallery2.png" alt="" /></div>
          <div><img src="./img/gallery3.png" alt="" /></div>
          <div><img src="./img/gallery4.png" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
