<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <a href="/" class="header__logo"><img src="./img/logo.png" alt="" /></a>
        <nav class="header__nav">
          <ul>
            <li><a href="#tint">Window Tint</a></li>
            <li><a href="#protection">Paint Protection (PPF)</a></li>
            <li><a href="#ceramic">Ceramic coating</a></li>
            <li>
              <a href="tel:+16477811116"
                ><img src="./img/phone.png" alt="" /> +1 (647) 781-1116
              </a>
            </li>
            <li><a href="#form" class="header__nav_contact">Contact Us</a></li>
          </ul>
        </nav>
        <div class="navigation">
          <input
            type="checkbox"
            class="navigation__checkbox"
            id="navi-toggle"
          />

          <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
          </label>

          <div class="navigation__background">&nbsp;</div>

          <nav class="navigation__nav">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a href="#tint" class="navigation__link">Window Tint</a>
              </li>
              <li class="navigation__item">
                <a href="#protection" class="navigation__link"
                  >Paint Protection (PPF)</a
                >
              </li>
              <li class="navigation__item">
                <a href="#ceramic" class="navigation__link">Ceramic coating</a>
              </li>
              <li class="navigation__item">
                <a href="tel:+16477811116" class="navigation__link">
                  +1 (647) 781-1116
                </a>
              </li>
              <li class="navigation__item">
                <a href="#form" class="navigation__link">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
