<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <a href="/" class="header__logo"><img src="./img/logo.png" alt="" /></a>
        <nav class="header__nav">
          <ul>
            <li><a href="#">Window Tint</a></li>
            <li><a href="#">Paint Protection (PPF)</a></li>
            <li><a href="#">Ceramic coating</a></li>
            <li>
              <a href="tel:+16477811116"
                ><img src="./img/phone.png" alt="" />+1 (647) 781-1116</a
              >
            </li>
            <li><a href="#" class="header__nav_contact">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
