<section class="hero">
  <div class="hero__slider">
    <div><img src="./img/car1.png" alt="" /></div>
    <div><img src="./img/car2.jpg" alt="" /></div>
    <div><img src="./img/car3.jpg" alt="" /></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero__content">
          <h1>
            Welcome to our<br />
            car tinting<br />
            service.
          </h1>
          <p>
            With our high-quality tints, we can help you reduce the amount of
            heat and UV radiation that enters your car, making it more
            comfortable to drive and protecting your skin and interior from sun
            damage.
          </p>
          <div>
            <ul>
              <li>
                <a href="#"><span>Contact Us</span></a>
              </li>
              <li>
                <a href="tel:+16477811116"
                  ><img src="./img/phone.png" alt="" /> +1 (647) 781-1116</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
