<section class="protection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="protection__box">
          <div class="protection__content col-4">
            <h1>
              Paint Protection<br />
              (PPF)
            </h1>
            <p>
              HIGH IMPACT PACKAGE (Popular add-<br />
              on): Headlights, foglights, mirrors, rear<br />
              bumper ledge $200<br />
              Grille kits from $200<br />
              Headlights from $150<br />
              Complete rocker panels from $400<br />
              Top of rear bumper ledge $100<br />
              A-pillars & front of roof $200<br />
              Front of rear wheel arches $100<br />
              Mirrors $100
            </p>
          </div>
          <div class="protection__price col-8">
            <div class="protection__price_item">
              <img src="./img/car5.png" alt="" />
              <h2 class="protection__price_item_title">
                Bronze Packege<br />
                18"
              </h2>
              <h1>$260</h1>
              <h3>$350</h3>
              <p>Contact Us</p>
            </div>
            <div class="protection__price_item">
              <img src="./img/car5.png" alt="" />
              <h2>Siliver Packege</h2>
              <h1>$950</h1>
              <h3>$1200</h3>
              <p>Contact Us</p>
            </div>
            <div class="protection__price_item">
              <img src="./img/car5.png" alt="" />
              <h2>Platinum Packege</h2>
              <h1>$1650</h1>
              <h3>$1800</h3>
              <p>Contact Us</p>
            </div>
            <div class="protection__price_item">
              <img src="./img/car5.png" alt="" />
              <h2>Cjmplet Packege</h2>
              <h1>$4800</h1>
              <h3>$5500</h3>
              <p>Contact Us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
